html {
    box-sizing: border-box;
}
body {
    margin: 0 auto; 
    font-family: 'EB Garamond', serif;
    background-color: #111;
    color: #fff;

}
#container {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width:100vw;
}
button {
    z-index: 1;
}
img {
    z-index: -1;
    cursor:pointer;
}
#theFortune {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:1.5rem;
    transition:0.7s ease-out;
    
}
.hide{
    display:none;
}
#fortuneCookie {
    margin:1rem;
}