html {
    box-sizing: border-box;
}
body {
    margin: 0 auto; 
    font-family: 'Noto Serif HK', serif;
    background-color: black;
    color: #fff;

}
#container {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:100vw;
    height: 100vh;
}
button {
    z-index: 1
}
img {
    z-index: -1;
}
#theFortune {
    display:flex;
    position: absolute;
    justify-content: center;
    align-items: flex-end;

    font-size:2.2rem;

    
}
